@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

html{
  font-size: 0.625rem;
}
.card-content{
  font-size: 2rem;
}
img{
  max-width: 100%;
  border-radius: 2rem;
}
.container{
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}
body{
    font-family: "Open Sans", sans-serif;
}
h2{
  font-size: 2.4rem;
  line-height: 2rem;
}
p{
  font-size: 1.8rem;
}
header{
  text-align: center;
  padding: 3rem 0;
}
footer{
  text-align: center;
  padding: 5rem 0;
}
.card-container{
  max-width: 600px;
  background-color: rgb(221, 221, 221);
  padding: 2rem;
  border-radius: 2rem;
  margin:  0 auto;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-content{
    display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* Responsive CSS */

@media (min-width:600px){
  html{
    font-size: 0.75rem;
  }
  .card{
    flex-direction: row;
  }
  .card-container{
    max-width: 800px;
  }
  .card-content{
    justify-content: center;
  }
  h2{
    font-size: 2rem;
  }
  p{
    font-size: 1.2rem;
  }
  .card-img img{
    height: 100%;
    object-fit: cover;
  }
}


